// Main Layout

* { box-sizing: border-box;}

html, body, main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
}

// Main Styles
h1, h2, h3, h4, h5, h6, p, a, i, em, li {
  font-family: sans-serif;
  color: #fafafa;
}

// Grid
.grid, .col {
  display: flex;
}

.grid {
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  flex-grow: 2;
  .col {
    flex-direction: column;
    padding: 2em;
  }
}

// Sizing
section.info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 20em;
  li {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0.5ex 0;
    margin: 0;
    h3, h4, h5, p {
      margin: 0 5px;
    }
  }

  li.list {
    flex-direction: column;
    ul {
      padding-left: 1em;
    }
  }
}

main {
  background-color: #333;
}

main > header {
  display: fixed;
  flex-basis:40%;
  padding: 10ex;
  h1 {
    border-left: 4px solid;
    padding-left: 1ex;
  }
}
// Stylization
section.info {
  border: 1px solid #aaa;
  header {
  }
  ul {}
  li {}
  li.list {}
}
