// Fonts
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:500,300,100,400);
// Main Layout

* { box-sizing: padding-box;}

html, body, main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
}

// Main Styles
h1, h2, h3, h4, h5, h6, p, a, i, em, li {
  color: #fafafa;
  font-family: 'Inconsolata', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif;
}

// Grid
.grid, .col {
  display: flex;
}

.grid {
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  flex-grow: 2;
  .col {
    flex-direction: column;
    padding: 2em;
  }
}

main {
  background: linear-gradient(#000, #1A1919);
}

main > header {
  display: fixed;
  flex-basis:40%;
  padding: 10ex;
  h1 {
    margin-top: 0;
    border-left: 4px solid;
    padding-left: 1ex;
  }
}

// Stylization and Sizing
section.info {
  margin-top:10ex;
  border: 1px solid #aaa;
  & > header {
    font-size: 1.5em;
    border-top: 4px solid #fff;
    margin-top: -3ex;
  }
  ul {
    padding: 0;
    margin: 0;
    min-width: 20em;
    &.arr {
      li::before {
        content: "- ";
      }
    }
    li {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 0.5ex 0;
      margin: 0;
      h4, h5, p {
        margin: 0 5px;
        font-size: 1em;
      }
      header h3 {
        font-size: 0.9em;
      }
      p {
        font-size: 1em;
        color: #a5a5a5;
      }
    }

    li.list {
      flex-direction: column;
      ul {
        padding: 1ex 0 0 1em;
      }
    }
  }
}
