// Fonts
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:500,300,100,400);

// Main Styles
h1, h2, h3, h4, h5, h6, p, a, i, em, li {
  color: #fafafa;
  font-family: 'Inconsolata', monospace, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Work Sans', sans-serif;
}

// Main Layout
* { box-sizing: padding-box;}

html, body, main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 758px){
  overflow:hidden;
}

// Grid
.grid, .col {
  display: flex;
}
.grid {
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  .col {
    flex-direction: column;
    padding: 2em;
  }
}

@media screen and (min-width: 758px) {
  .grid {
    overflow-y: auto;
  }
}

main {
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow: auto;
  & > header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height:100%;
    padding: 10ex;
    background-color:#222;
    svg#graphic {
      min-height: 100%;
      min-width: inherit;
      background: linear-gradient(#444, #333);
      position:absolute;
      top:0;
      left:0;
      width: 100%;
      z-index: -1;
      path {
        stroke: #333;
        stroke-linejoin: "round";
        stroke-width: 0.1;
        fill: none;
      }
    }
    h1 {
      margin-top: 0;
      border-left: 4px solid;
      padding-left: 1ex;
    }
    footer {
      display:flex;
      align-items: center;
      img {
        height: 50px;
      }
      #eth {
        height: 40px;
      }
    }
  }
}

@media screen and (min-width: 758px) {
  main {
    flex-direction: row;
    & > header {
      flex-basis:30%;
    }
  }
}


// Stylization and Sizing
section.info {
  border-top: 1px solid #aaa;
  height: 100%;
  & > header {
    font-size: 1.5em;
    border-top: 4px solid #fff;
    margin-top: -3ex;
  }
  ul {
    padding: 0;
    margin: 0;
    min-width: 17em;
    &.arr {
      li::before {
        content: "- ";
      }
    }
    li {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 0.5ex 0;
      margin: 0;
      h4, h5, p {
        margin: 0 5px;
        font-size: 1em;
      }
      header h3 {
        font-size: 0.9em;
      }
      p {
        font-size: 1em;
        color: #a5a5a5;
      }
    }

    li.list {
      flex-direction: column;
      ul {
        padding: 1ex 0 0 1em;
      }
    }
  }
}

@media screen and (min-width: 758px) {
  section.info {
    margin-top:10ex;
    height: auto;
    border: 1px solid #aaa;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}
